@charset "utf-8";
@import "~bulma";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Ubuntu:wght@300;400&display=swap');

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

body {
    background-color: rgb(248, 248, 248);
}

.job-container {
    font-family: 'Ubuntu', sans-serif;
    margin: 35px 0px;
    background: white;
    cursor: pointer;
    box-shadow:rgb(204, 204, 204) 0px 0px 1px 0px;
    border-radius: 2px;
}
.job-container:hover {
    box-shadow: rgb(204, 204, 204) 0px 0px 10px 0px;
}
.job-description {
    margin: 15px 0;
}
.job-tags {
    margin-top: 15px;
}
.job-company {
    background: #8080800d;
    width: fit-content;
    padding: 5px 10px;
}
.job-title {
    color: #09A0DB;
}

span.tag {
    text-transform: uppercase;
    border-radius: 2px;
}

div.job-additional-data {
    padding: 9px 10px;
    background: #f7f7f7;
    text-align: center;
}
.job-additional-data-separator {
    font-family: 'Passion One', cursive;
    color: #afafaf52;
    margin: 0 10px;
}
.tag img {
    width: 18px;
    height: 17px;
    margin-right: 5px;
}