{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jobs base</h1>


    <ul>
    {% for job in jobs %}
        <li>{{ job }}</li>
    {% endfor %}
    </ul>

    <div class="columns job-container is-vcentered">
        <div class="column is-four-fifths">
            <div class="job-title is-size-4">Développeur PHP Symfony 4</div>
            <div><i class="fas fa-city"></i> Cdiscount - <i class="fas fa-clock fa-sm"></i> il y a 4 jours</div>
            <span class="tag"><img src="{{ asset('images/tags/symfony-logo.svg') }}"> Symfony</span>
            <span class="tag"><img src="{{ asset('images/tags/laravel-logo.svg') }}"> Vue.js</span>
        </div>
        <div class="column has-text-centered">
            <div class="job-additional-data is-inline-block">
                <span class="job-additional-data"><i class="fas fa-map-marker-alt"></i> Bordeaux</span>
                <span class="job-additional-data-separator">|</span>
                <span class="job-additional-data"><i class="fas fa-briefcase"></i> CDI temps plein</span>
            </div>
        </div>
    </div>

    <div class="columns job-container">
        <div class="column is-four-fifths">
            <div class="job-title is-size-4">Développeur PHP Laravel 7</div>
            <div>Il y a 23 jours</div>
            <span class="tag">Laravel</span>
            <span class="tag">React.js</span>
        </div>
        <div class="column"><div>Paris | Freelance</div></div>
    </div>


{% endblock %}